---
import { getCollection } from "astro:content";

import Base from "../../layouts/Base.astro";
import Header from "../../components/Header.astro";
import Topic from "../../components/Topic.astro";

const posts = await getCollection("posts");
const topics = new Map<string, number>();

for (const post of posts) {
    for (const topic of post.data.tags ?? []) {
        const currentCount = topics.get(topic) ?? 0;

        topics.set(topic, currentCount + 1);
    }
}

const title = "Topics";
---

<Base {title}>
    <Header {title} />

    <div class="px-2">
        <section class="w-readable mx-auto max-w-full">
            <ul class="flex flex-wrap gap-3">
                {
                    Array.from(topics.entries())
                        .toSorted(([_aTopic, aCount], [_bTopic, bCount]) => bCount - aCount)
                        .map(([topic, count]) => (
                            <li>
                                <Topic {topic}>
                                    {topic} ({count})
                                </Topic>
                            </li>
                        ))
                }
            </ul>
        </section>
    </div>
</Base>
