---
import BlueSky from "simple-icons-astro/Bluesky";
import GitHub from "simple-icons-astro/Github";
import RSS from "simple-icons-astro/Rss";

import LinkedIn from "../icons/LinkedIn.svg";

import { SITE_TITLE } from "../consts";

interface Props {
    title?: string;
}

const { title = "" } = Astro.props;

const links = [
    {
        href: "/rss.xml",
        label: "RSS Feed",
        icon: RSS,
    },
    {
        href: "https://bsky.app/profile/alexlafroscia.com",
        label: "Bluesky Profile for Alex LaFroscia",
        rel: "me",
        icon: BlueSky,
    },
    {
        href: "https://github.com/alexlafroscia",
        label: "GitHub Profile for Alex LaFroscia",
        rel: "me",
        icon: GitHub,
    },
    {
        href: "https://www.linkedin.com/in/alexlafroscia/",
        label: "LinkedIn Profile for Alex LaFroscia",
        rel: "me",
        icon: LinkedIn,
    },
];
---

<header
    class="mb-4 border-b-2 border-[var(--background-gradient-to)] bg-gradient-to-br from-[var(--background-gradient-from)] to-[var(--background-gradient-to)] px-4 pt-4 pb-8"
>
    <nav class="w-readable mx-auto mb-8 flex max-w-full flex-col items-start gap-4">
        <ul class="flex w-full items-center gap-2">
            <li class="flex-grow">
                <a class="font-bold" href="/">{SITE_TITLE}</a>
            </li>

            {
                links.map((link) => (
                    <li>
                        <a
                            rel={link.rel}
                            href={link.href}
                            class="block transition-transform hover:scale-105 focus-visible:scale-105"
                        >
                            <span class="sr-only">{link.label}</span>
                            <link.icon class="h-4 w-4" />
                        </a>
                    </li>
                ))
            }
        </ul>
    </nav>

    <div class="w-readable mx-auto flex max-w-full flex-col items-start gap-4">
        <h1 class="text-3xl">
            <slot name="title">
                {title}
            </slot>
        </h1>

        <slot />
    </div>
</header>

<style>
    header {
        --background-gradient-from: var(--lightAccentColor, var(--color-gray-200));
        --background-gradient-to: var(--accentColor, var(--color-gray-300));
    }
</style>
