---
import type { CollectionEntry } from "astro:content";

import BaseLayout from "./Base.astro";
import FormattedDate from "../components/FormattedDate.astro";
import Header from "../components/Header.astro";
import Topic from "../components/Topic.astro";

type Props = CollectionEntry<"posts">["data"];

const { title, description = "", date, topics = [] } = Astro.props;
---

<BaseLayout {title} {description}>
    <Header {title}>
        {
            description && (
                <Fragment>
                    <p>{description}</p>
                </Fragment>
            )
        }
        <dl class="metadata grid gap-x-4 gap-y-2">
            <dt class="font-bold lowercase">Published</dt>
            <dd>
                <FormattedDate date={date} />
            </dd>
            {
                topics.length ? (
                    <Fragment>
                        <dt class="font-bold lowercase">Topics</dt>
                        <dd>
                            <ul class="flex gap-2">
                                {topics.map((topic) => (
                                    <li>
                                        <Topic {topic} />
                                    </li>
                                ))}
                            </ul>
                        </dd>
                    </Fragment>
                ) : undefined
            }
        </dl>
    </Header>

    <div class="px-4">
        <article class="prose w-readable mx-auto max-w-full">
            <slot />
        </article>
    </div>
</BaseLayout>

<style>
    .metadata {
        grid-template-columns: 1fr auto;
    }
</style>
