---
import type { CollectionEntry } from "astro:content";
import BaseLayout from "./Base.astro";
import FormattedDate from "../components/FormattedDate.astro";
import { SITE_TITLE as title, SITE_DESCRIPTION as description } from "../consts";

export type BlogPostIndex = Array<CollectionEntry<"blog">>;

type Props = {
    posts: BlogPostIndex;
};

const posts = Astro.props.posts;
---

<BaseLayout {title} {description}>
    <section>
        <ul>
            {
                posts.map((post) => (
                    <li>
                        <a href={`/${post.id}`}>
                            <h4 class="title">{post.data.title}</h4>
                            <p class="date">
                                <FormattedDate date={post.data.date} />
                            </p>
                        </a>
                    </li>
                ))
            }
        </ul>
    </section>
</BaseLayout>
